body{
    height: 100vh;
}
main{
    margin: auto;
    display: flex;    
}

.Naslov-Content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid darkkhaki;
    margin-inline: 25%;  
    animation: 1s ease-in-out NaslovUlet;
}

main #content{
    width: 80%;
    margin-inline: 10%;
    margin-bottom: 270px;
    height: 200px;    
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 1s ease-in-out TekstUlet;
}

#Novosti-h1{
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: #dec11d;
    animation: 1s ease-in-out TekstUlet;
} 

@keyframes NaslovUlet {
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }    
}

@keyframes TekstUlet {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }    
}


.input-teksta{
    width: 60%;
}

.input-teksta label{
    display: block;
}

.input-teksta input{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 70%;
}

.tablica{
    width: 70%;
    margin: auto;
    margin-top: 80px;
}

.tablica table{
    border-collapse: collapse;
    border-spacing: 20px;
    text-align: left;
    width: 60%;
    background-color: white;

}

.tablica table thead{
    border-block: 2px solid rgb(189, 189, 189);
}

.tablica table thead th{
    padding: 4px 0;
    padding-right: 20px; 
}

.tablica table tbody tr:nth-child(odd){
    background-color: rgb(209, 209, 209);
}

.tablica table tfoot tr{
    border-top: 3px solid black ;
    font-weight: bold;
}

.tablica table tbody tr td{
    padding: 4px 0;
    margin-right: 25px;
}


.total{
    color: #D2042D;    
}

.delbtn{
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #D2042D;
    background-color: #D2042D;
    color: white;
    margin-block: 10px;
    margin-inline: 15px;
}
